nav {
    display: flex;
    overflow-x: scroll;
    scrollbar-width: thin;
    scrollbar-color: #50FEFE #120638;

    justify-content: space-between;
    gap: 12px;

    margin-left: 20px;
    margin-right: 20px;

}

nav div {
   flex-grow: 1;
   flex-basis: 0;
   height: 50px;
   gap: 12px;

}

nav div:hover {
    cursor: pointer;
}

.chosenDjBorder {
    display: fit-content;
    height: 0px;
}
nav div p {
    padding-right: 10px;
    border-right: 1px solid white;
    margin: 0;
    font-family: "Beyonders";
    text-align: left;
    font-size: 14px;
    white-space: nowrap;
    color: white;
}

div:last-child p {
    border-right: none;
}