body {
    box-sizing: border-box;
}

font-face {
    font-family: "Beyonders";
    src: url(./media/fonts/Beyonders-6YoJM.ttf);
}

font-face {
    font-family: "Beyonders-Italic";
    src: url(./media/fonts/BeyondersItalic-jEpgj.ttf);
}
body {
    margin: 0;
    
}

#wrapper {
    height: 100%;
    width: 100%;
  background: linear-gradient(
    to bottom,
    #120638 0%,
    #120638 50%,
    #33119E 100%
  );
}