body {
    box-sizing: border-box;
    margin: 0;

    background: linear-gradient(
        to bottom,
        #120638 0%,
        #120638 50%,
        #33119E 100%
        );
    
}
font-face {
    font-family: "Beyonders";
    src: url(./media/fonts/Beyonders-6YoJM.ttf);
}

font-face {
    font-family: "Beyonders-Italic";
    src: url(./media/fonts/BeyondersItalic-jEpgj.ttf);
}

#wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}