#graphListContainer{
    border-top: 10px solid #E52572;
    border-radius: 4px 4px 4px 4px;

    width: 330px;
    height: 285px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    background-color: #0B0A22;
}

#graphListHeader{
    font-family: "Beyonders";
    text-align: center;
    font-size: 1vw;
    color: white;
}

#graphSelectionContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 0.7vw;
    gap: 15px;
}

#graphSelectionContainer > div{
    font-family: "Beyonders";
    text-align: center;
    
    flex-grow: 1;
    color: white;
    cursor: pointer;
    
}

.pinkDiv{
    width: 75%;
    height: 1px;
    background: #E52572;
}

.selectedGraph {
  color: #E52572 !important;
}