#yearsContainer{
    display: flex;
    justify-content: center;
    margin-top: 8px;
    color: white;
    font-family: "Beyonders";
    gap: 10px;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#nextArrow, #prevArrow{
    cursor: pointer;
}